# Ignorera miljövariabler
.env
payments/.env

# Node dependencies
node_modules/

# Bygg-output (olika ramverk/generatorer)
dist/
build/
.next/
out/

# Loggfiler
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-filer
.DS_Store
Thumbs.db
